:root{
    --bg-color:#080808;
    --second-bg-color: #131313;
    --text-color:white;
    --main-color: #00ffee;
}
section{
    min-height: 100vh;
    padding: 3rem 12% 10rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 1rem ;
}

span{
    color:#149bf5;
}

.logo span{
    color: #0ef2fa;
}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 2rem; 
    color: white;

}
.home-content h1{
    font-size: 4rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
    color: white;
}

.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    top:1rem;
    width: 32vw ;
    height: 34vw;
    border-radius: 40%;
    box-shadow:  0 0 25px #854CE6;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 25px #854CE6,
                0 0 25px #854CE6,
                0 0 25px #854CE6;
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
} 
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background: transparent;
    border: 2px solid #149bf5;
    font-size: 2.5rem;
    border-radius: 50%;
    background-color: #149bf5;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    color: var(--texts-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}
.btn{
    display: inline-block;
    padding:  0.5rem 1.8rem;
    background: #149bf5;
    box-shadow:  0 0 25px #149bf5;
    border-radius: 4rem;
    font-size:  1rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px #149bf5;
}
.btn-group{
    display: flex;
    align-items: center;
    gap:1.5rem;
}
.btn-group a:nth-of-type(2){
    background-color: black;
    color: var(--main-color);
    border: 2px  solid var(--main-color);
    box-shadow:  0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}

@media(max-widtth:1285px){
    html{
        font-size:55%;
    }
    .service-container{
        padding-bottom: 2rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0 5rem;
    }
}
@media(max-width:991px){
    section{
        padding: 2rem 3%;
    }
    .timeline-items::before{
        left: 7px;
    }
    .timeline-items:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-items:nth-child(odd),
    .timeline-items:nth-child(even){
       padding-left: 37px;
    }
    .timeline-dot{
        left:0;
    }
}

@media(max-width:895px){
    #menu-icon{
        display: block;
    }
    .home{
        flex-direction: column-reverse;
        margin: 1rem ;
        gap: 5rem;
    }
    .home-content h3{
        font-size: 2rem;
    }
    .home-content h1{
        font-size: 5rem;
        margin-top: 0;
    }

    .home-img img{
        width: 75vw;
        height: 90vw;
    }
}
    
