.glow-on-hover {
    transition: all 0.3s ease-in-out;
  }
  
  .glow-on-hover:hover {
    box-shadow: 5px 5px 5px 5px #6612f7;
  }
  .custom-card {
  width: 420px;   
  border-radius: 0.75rem; 
  overflow: hidden;
  margin: 1rem; 
  margin-top: 5rem; 
  margin-bottom: 5rem; 
  border-width: 0.25rem; 
  border-style: solid;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1); 
  }
  .custom-card:hover {
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  }


  .custom-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 4rem;
    color: #149bf5;
    border-bottom-width: 3px;
    border-bottom-color: #149bf5;
    border-bottom-style: solid;
    text-align: left;
  }
  .btn1{
    display: none;
  }
  
  
  @media (max-width: 960px) {
     .custom-title{
      font-size: 2rem ;
      margin-left: 4.5rem;
      margin-right: 4.5rem;
      margin-bottom: 0rem ;
      margin-top: 2rem; 
      padding-left: 20px ;
    } 
        .custom-card{
      margin-bottom: 1rem;
      
    }
    .hide{
      display: none;
    }
    .btn{
      display:  flex;
    }
    .bordercss{
      margin-bottom: 2rem;
    }
    .borderhead{
      margin-bottom: 2rem;
    }
  }
  @media (max-width: 768px) {
    .custom-title{
      font-size:2rem ;
    }
    
  }