
.btn2{
  display: inline-block;
  padding:  0.5rem 1.8rem;
  border-radius: 4rem;
  font-size:  1rem;
  background-color: black;
  color: var(--main-color);
  border: 2px  solid var(--main-color);
  box-shadow:  0 0 25px transparent;
}
.btn2:hover{
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
  color: black;
}
